<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="copyright" content="Rodrigo Anchieta"/>
    <meta name="contact" content="rodrigoganchieta@gmail.com"/>
    <meta name="robots" content="all"/>
    <meta name="googlebot" content="all"/>
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="index,follow"/>
    <meta name="distribution" content="global"/>
    <meta name="rating" content="general"/>
    <meta name="rating" content="safe for kids"/>
    <meta name="classification" content="Sites">

    <title>Agenda de Contatos - Rodrigo Gonçalves de Anchieta</title>

    <meta name="description" content="Curso de JavaScript e TypeScript do básico ao avançado criado por Luiz Otávio Miranda, aluno Rodrigo Gonçalves de Anchieta">
    <meta name="abstract" content="Curso de JavaScript e TypeScript do básico ao avançado criado por Luiz Otávio Miranda, aluno Rodrigo Gonçalves de Anchieta">
    <meta name="keywords" content="JavaScript, Rodrigo Anchieta, rodrigoganchieta, Rodrigo Gonçalves de Anchieta">

    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
